/* Header */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
}

.main-header-item {
    display: flex;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-item {
    font-size: 16px;

}

.nav-item .nav-link.active {
    color: var(--active-header-item);
}

.nav-item-img {
    margin-left: 33px;
}

.main-header-logo img {
    width: 160px;
}

.nav-item img {
    width: 24px;
    height: 24px;
}

#main-header img {
    top: 52px;
    left: 375px;
    width: 168.96px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
}

.dropdown-info {
    padding: 15px;
    box-shadow: 0px 10px 20px 0px #0E163D33;

}

.dropdown-info .dropdown-item {
    padding: 11px 5px 11px 15px;
    color: var(--navbar-p);
}

.dropdown-info .dropdown-item.active {
    background-color: var(--active-header-item);
    color: var(--white);
}

.nav-link.dropdown-toggle:hover {
    color: var(--active-header-item);
}

.dropdown-info .dropdown-item:hover {
    background-color: var(--active-header-item);
    color: var(--white);
}