/* section 1 start */
.info-swiper {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.info-swiper .body-swiper {
    max-width: 330px;
    width: 100%;
}

.info-swiper .body-swiper h3.active {
    color: var(--active-header-item);
}

.info-swiper .body-swiper h3.active::after {
    background-color: var(--active-header-item);
}

.info-swiper .body-swiper h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.005em;
    text-align: left;
    position: relative;
    margin-bottom: 24px;
}

.info-swiper .body-swiper h3::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #597393;
    margin-top: 12px;

}

.info-swiper p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    font-family: var(--merriweather);
    color: #597393;
}

/* swiper start  */
.swiper .swiper-custom-nav img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 85%;
    transform: rotate(180deg);
}

.swiper .swiper-custom-nav #nav-right {
    position: absolute;
    left: 92%;
    transform: rotate(0);
}

.swiper .swiper-wrapper .swiper-slide h1 {
    position: absolute;
    font-size: 96px;
    line-height: 100%;
    top: 50%;
    width: 820px;
    left: 0;
    z-index: 1;
    transform: translate(0, -50%);
}

.swiper .swiper-wrapper .swiper-slide img {
    object-fit: cover;
}

/* swiper end  */


/* section 1 end */
/* section 2 start */
.about-us {
    background-color: var(--black);
    color: var(--white);
    padding: 140px 0 177px 0;
}

.about-us .only-about {
    font-weight: 700;
    color: var(--active-header-item);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

.about-info .btm-body-left {
    margin-right: 80px;
}

.about-info .top-body h3 {
    max-width: 770px;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: 700;
    color: #ffffff;
    font-size: 78px;
    letter-spacing: -2.73px;
    line-height: 84px;
}

.bottom-body {
    display: flex;
    margin-top: 60px;
}

.bottom-body .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.bottom-body .btm-body-right p {
    top: 0;
    left: 0;
    font-weight: 700;
    color: var(--active-header-item);
    font-size: 48px;
    letter-spacing: -1.2px;
    line-height: 54px;
}

.bottom-body .btm-body-right span {
    color: var(--white);
}

.bottom-body .btm-body-left {
    max-width: 320px;
    width: 100%;
    top: 0;
    left: 0;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
}

.btm-body-right {
    display: flex;
}

.body-right-span {
    font-family: var(--merriweather);
    color: #bfd4e4;
    width: 170px;
}

/* section 2 end */
/* section 3 start */
.brilliant-business {
    position: relative;
    padding-top: 130px;
}

.brilliant-business-img {
    position: absolute;
    width: 540px;
    height: 730px;
    top: 0;
    right: 0;
}

.brilliant-business-text {
    top: 0;
    left: 0;
    font-weight: 700;
    color: var(--active-header-item);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

.brilliant-business-title {
    max-width: 870px;
    top: 0;
    left: 0;
    font-weight: 700;
    color: var(--black);
    font-size: 48px;
    letter-spacing: -1.2px;
    line-height: 54px;
    margin: 30px 0 50px 0;
}

.brilliant-business-info {
    display: flex;
}

.brilliant-business-info p {
    width: 670px;
    top: 0;
    left: 0;
    font-weight: 400;
    color: #878995;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
}

.brilliant-business-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: 2px solid rgba(166, 135, 106, 1);
    font-weight: 800;
    font-size: 16px;
}
.brilliant-business-info button:hover {
    border: 2px solid rgba(166, 135, 106, 1);
}

.consulting-info{
    display: flex;
}

/* section 3 end */